.App-base {
  background-color: gray;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  overflow: hidden;
}

.App-base .matrix {
  margin: 10px;
}

span.selection {
  display: none;
}

button:hover {
  cursor: pointer;
}

.matrix .matrixRow {
}

.matrixCell {
  border: 1px solid black;
  height: 90px;
  width: 19vw;
  max-width: 180px;
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.matrixCell > select {
  position: absolute;
  width: 90%;
  height: 30%;
  top: 30%;
  left: 5%;
}

.matrixCell > div {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.matrixCell > .cellNum {
  width: 60%;
  font-size: 150%;
  display: inline-block;
  vertical-align: top;
}

.cellNum > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrixCell > .cellButtons {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.cellButtons button {
  width: 100%;
  border: none;
  height: 50%;
  font-size: 150%;
}

.btnNext {
  margin-top: 2.5%;
  margin-left: 15%;
  width: 8vw;
  font-size: 20px;
  height: 5vh;
}

.step {
  padding-left: 20px;
}

.step > select {
  width: 60%;
  height: 3vw;
}
